.side-menu{
    position: fixed;
    top: 12%;
    left: 0;
    height: 100%;
    width: 12%;
    background-color: #004F9F;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 2%;
}

.side-menu li a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
  }
  
  .side-menu a:hover {
    color: #818181;
  }

  .material-icons {
      margin-right: 4%;
  }